/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
   * A better looking default horizontal rule
   */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
   * Remove default fieldset styles.
   */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
   * Allow only vertical resizing of textareas.
   */

textarea {
  resize: vertical;
}

/* ==========================================================================
     Author's custom styles
     ========================================================================== */

/* General Styles */
html {
  font-size: 16px;
}

body {
  font-size: 1em;
  font-family: 'Lekton', sans-serif;
  color: #152A3E;
  background-color: white;
  /* Sometimes the default background for a browser isn't exactly white. Adding a default allows more consistency between browsers. */
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #CAC691;
  text-decoration: none;
}

h1 {
  color: #CAC691;
  font-family: 'Lexend Tera', sans-serif;
  font-size: 1.75rem;
  line-height: 1.5;
  width: 100%
}

h2 {
  color: #CAC691;
  font-family: 'Lexend Tera', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  width: 100%;
  font-weight: 400;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.5rem;
}

.project-link,
.language-wrapper p,
.tool-wrapper p {
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.125rem;
  color: #CAC691;
}



.about-info h4,
.contact-title {
  font-weight: 400;
}

h3,
h4,
h5,
h6 {
  font-family: 'Lekton', sans-serif;
  line-height: 1.5;
  width: 100%;
  text-align: center;
}

p,
li {
  font-size: 1rem;
  line-height: 1.5;
}

span {
  font-weight: bold;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}


/* Structural Styles */
header,
#work,
#skills,
#about,
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
}

.content-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 85%;
}

#work {
  width: 100%;
}

#work p,
#about p {
  width: 100%;
  text-align: left;
  justify-content: center;
}

header {
  padding-top: 30px;
  padding-bottom: 60px;
}

nav {
  margin-bottom: 60px;
}

#work {
  padding-top: 60px;
}

#skills {
  padding-bottom: 80px;
}

#about {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: 30px;
}

h2 {
  margin-top: 60px;
}

h3 {
  margin-bottom: 20px;
}

h4 {
  margin: 0 0 40px 0;
}

.project-description {
  margin: 0 0 30px 0;
}

.project-link {
  margin: 40px 0 60px 0;
}

#skills {
  padding-top: 80px;
}

figure {
  margin: 20px 0 40px 0;
}

.skills-header {
  margin-bottom: 20px;
}

.about-info h3 {
  margin: 40px 0 40px 0;
}

.about-text {
  margin: 0 0 30px 0;
}

#contact h3 {
  margin-bottom: 60px;
}

.contact-info {
  margin: 0 0 60px 0;
}

.contact-title {
  margin: 0 0 40px 0;
}

/* -------------------- Base Header Styles -------------------- */

header {
  background-color: #152A3E;
}

header nav ul li {
  font-size: .75rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

nav #contact-link {
  background-color: #CAC691;
  padding: 10px 10px;
  border-radius: 30px;
  color: #152A3E;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

header h1 {
  width: 100%;
}

header h2 {
  width: 100%
}

/* -------------------- Mobile Styles - Homepage -------------------- */

/* Portfolio */
#work,
#skills {
  width: 100%;
  background-color: #EEEFDA;
}

#work h3 {
  width: 100%;
}

.portfolio-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

.sticky-notes-project, .unplugged-project, .guess-the-word-project {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}



.sticky-notes-project, .unplugged-project, .guess-the-word-project figure {
  width: 100%;
  filter: drop-shadow(1px 2px 6px lightgrey);
}

.project-link {
  background-color: #152A3E;
  padding: .75rem 3.75rem;
  border-radius: 30px;
  color: #CAC691;
}

.project-link:hover {
  background-color: #CAC691;
  color: #152A3E;
}

#skills {
  background-color: #CAC691;
}

#skills h4 {
  margin: 40px 0 40px 0;
  font-weight: bold;
}

.language-wrapper p,
.tool-wrapper p {
  background-color: #152A3E;
  padding: 15px 0;
  margin: 20px 0;
  text-align: center;
}

.tool {
  width: 100%;
}

/* About */
#about {
  width: 85%;
}

#profile-image {
  width: 90%;
}

#about h3,
#about h4,
#about p {
  color: #4a4f3e;
}

/* -------------------- Base Foooter Styles -------------------- */
footer {
  background-color: #CAC691;
}

footer .contact-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}



footer h4 {
  width: 100%;
}

footer .follow-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
}

footer ul {
  width: 100%;
}

footer .social-icons li {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .social-icons li i {
  font-size: 1.875rem;
  color: #453e4f;
}




/* ==========================================================================
     Helper classes
     ========================================================================== */

/*
   * Hide visually and from screen readers
   */

.hidden,
[hidden] {
  display: none !important;
}

/*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
   * Hide visually and from screen readers, but maintain layout
   */

.invisible {
  visibility: hidden;
}

/*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
@media only screen and (min-width:768px) {
  /*Tablet styles here*/

  /* General styles */
  .content-wrapper {
    max-width: 100%;
  }

  /* font styles */
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  header nav ul li {
    font-size: 1rem;
  }

  /* element margins */
  /* the list element have 20px of bottom margin already */
  header {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  nav {
    margin: 0 0 80px 0;
  }

  /*#work */
  #work {
    padding-top: 80px;
  }

  #skills {
    padding-bottom: 80px;
  }

  #about {
    padding: 80px 0;
  }

  footer {
    padding-bottom: 10px;
  }

  h2 {
    margin-top: 80px;
  }

  .portfolio-header {
    margin: 0 0 60px 0;
  }

  .project-description {
    margin: 0 0 30px 0;
  }

  .project-link {
    margin: 20px 0 60px 0;
  }

  #skills {
    padding-top: 80px;
  }

  .skills-header {
    margin-bottom: 40px;
  }

  #skills h4 {
    margin: 40px 0 20px 0;
  }

  .about-info h3 {
    margin: 80px 0;
  }

  .about-info h4 {
    margin: 0 0 60px 0;
  }

  .about-text {
    margin: 0 0 30px 0;
  }

  .contact-info {
    margin: 60px 0;
  }

  .contact-title {
    margin: 0 0 30px 0;
  }

  /* header */
  header .content-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  header nav {
    /* keep if using hamburger menu */
    display: flex;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
  }

  header nav ul {
    /* keep if using hamburger menu */
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  .header-title {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .header-title h2 {
    max-width: 80%;
  }

  /* portfolio */
  .portfolio-wrapper {
    justify-content: space-around;
  }

  .sticky-notes-project, .unplugged-project, .guess-the-word-project {
    align-items: center;
  }

  .project-description {
    width: 95%;
  }

  .language-wrapper,
  .tool-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-flow: row wrap;
    text-transform: uppercase;
  }

  .skill,
  .tool {
    /*  width: auto; */
    width: 45%;
  }

  .language-wrapper p,
  .tool-wrapper p {
    padding: 15px 0;
  }

  /* about */
  .about-content-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  #about figure {
    width: 60%;
  }

  .about-info h4 {
    text-align: left;
  }

  /* Footer */
  .contact-wrapper {
    display: flex;
  }

  footer .contact-info {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
  }

  footer .social {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }

  footer .social-icons {
    width: 12.5em;
    justify-content: space-between;
  }

  footer .social-icons li i {
    font-size: 2rem;
  }

  footer .copyright {
    width: 100%;
  }
}

@media only screen and (min-width:1200px) {

  /*Desktop styles here*/
  .content-wrapper {
    max-width: 1200px;
  }

  /* font styles */
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  .about-info h3 {
    font-size: 3.75rem;
    text-align: left;
  }

  .about-info h4 {
    font-size: 2rem;
  }

  p {
    font-size: 1.25rem;
    margin-top: 70px;
  }

  .project-link,
  .language-wrapper p,
  .tool-wrapper p {
    font-size: 1rem;
  }

  /* element margins */
  /* the list element have 20px of bottom margin already */
  header {
    padding-top: 80px;
    padding-bottom: 140px;
  }

  nav {
    margin-bottom: 80px;
  }

  #work {
    padding-top: 80px;
  }

  #skills {
    padding-bottom: 120px;
  }

  #about {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: 100px;
  }

  footer {
    padding: 40px 0 40px 0;
  }

  h2 {
    margin: 40px 0 0 0;
  }

  .portfolio-header {
    margin: 0 0 60px 0;
  }
  .project-description {
    margin: 0 0 30px 0;
  }

  .project-link {
    margin: 40px 0 80px 0;
  }

  #skills {
    padding-top: 60px;
  }

  #skills .content-wrapper {
    max-width: 900px;
  }

  .skills-header {
    margin-bottom: 40px;
  }

  .about-info h3 {
    margin: 0;
  }

  .about-info h4 {
    margin: 40px 0;
  }

  .about-text {
    margin: 0 0 30px 0;
  }

  .contact-info {
    margin: 80px 0 80px 0;
  }

  .contact-title {
    margin: 0 0 30px 0;
  }

  /* header */
  header .content-wrapper {
    justify-content: flex-end;
  }

  header nav {
    justify-content: flex-end;
    width: 45%;
  }

  nav ul li a {
    padding: 10px 10px;
  }

  nav ul li a:hover,
  nav #contact-link:hover {
    background-color: #B4C7D9;
    color: #453E4F;
    padding: 10px 10px;
    border-radius: 30px;
  }

  /* portfolio */
  .sticky-notes-project, .unplugged-project, .guess-the-word-project {
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
  }

  .unplugged-project .tools p {
    margin-top: 40px;
  }

  .sticky-notes-project a.project-link {
    margin-top: 70px;
  }

  /* skills */
  .skill,
  .tool {
    width: 30%;
  }

  /* about */
  .about-content-wrapper {
    display: flex;
    justify-content: space-evenly; 
  }

  #about figure {
    width: 35%;
    margin-top: 0;
  }

  .about-info {
    width: 58%;
  }

  /* footer */
  footer #contact {
    display: flex;
    flex-flow: column wrap;
  }

  footer .content-wrapper {
      flex-flow: row;
      max-width: 90%;
  }

  footer .social-icons {
    width: 12.5em;
    justify-content: space-between;
  }
  
  footer .contact-info {
    margin: 0;
  }

  footer p.copyright {
    margin-top: 60px;
  }
}

@media only screen and (min-width: 1440px) {
  /* about */
  .about-content-wrapper {
    display: flex;
    justify-content: space-evenly;    
  }

  /* contact */
  footer #contact {
    display: flex;
    flex-flow: column wrap;
  }
  /* footer */
  footer .content-wrapper {
    flex-flow: row;
    max-width: 90%;
  }
  footer .contact-info {
    margin: 0;
  }

  footer p.copyright {
    margin-top: 60px;
  }    
}


@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}